.tree {
    background-color: #efefef;
    height: 100%;
    padding: 10px;
    font-family: monospace;
}

.four-spaces-left {
    margin-left: 40px;
}

.eight-spaces-left {
    margin-left: 80px;
}

.twelve-spaces-left {
    margin-left: 120px;
}